extends /layouts/main_layout
block vars
	- var title = "IGEN";
block content
	.Category
		.Breadcrumbs.Category_breadcrumbs
			.Container
				ul.Breadcrumbs_list
					li.Breadcrumbs_item
						a(href="/").Breadcrumbs_link Главная
					li.Breadcrumbs_item
						a(href="/catalog.html").Breadcrumbs_link Продукция
					li.Breadcrumbs_item IGEN
		.Products.Category_products
			.Container
				h2.SectionTitle.Products_title IGEN
				.Products_row
					.Products_col
						.ProductBlock
							.ProductBlock_img
								img(src="img/product1.png", alt="Revitall Antigelm")
							.ProductBlock_body
								.ProductBlock_titles
									h4.ProductBlock_subtitle #00201
									h3.ProductBlock_title Revitall Antigelm
								.ProductBlock_characteristicsAndBtn
									.Characteristics.ProductBlock_characteristics
										ul.Characteristics_list
											li.Characteristics_item
												span.Characteristics_label Цена
												span.Characteristics_value #[span.Characteristics_number 3 244] руб.
									.ProductBlock_btnWrapper
										a(href="#", title="Добавить в корзину").ProductBlock_btn
					.Products_col
						.ProductBlock
							.ProductBlock_img
								img(src="img/product2.png", alt="Ecopam time")
							.ProductBlock_body
								.ProductBlock_titles
									h4.ProductBlock_subtitle #00201
									h3.ProductBlock_title Ecopam time
								.ProductBlock_characteristicsAndBtn
									.Characteristics.ProductBlock_characteristics
										ul.Characteristics_list
											li.Characteristics_item
												span.Characteristics_label Объем
												span.Characteristics_value #[span.Characteristics_number 42] ед.
											li.Characteristics_item
												span.Characteristics_label Цена
												span.Characteristics_value #[span.Characteristics_number 1 060] руб.
									.ProductBlock_btnWrapper
										a(href="#", title="Добавить в корзину").ProductBlock_btn
					.Products_col
						.ProductBlock
							.ProductBlock_img
								img(src="img/product3.png", alt="Teavitall premier")
							.ProductBlock_body
								.ProductBlock_titles
									h4.ProductBlock_subtitle #00201
									h3.ProductBlock_title Teavitall premier
								.ProductBlock_characteristicsAndBtn
									.Characteristics.ProductBlock_characteristics
										ul.Characteristics_list
											li.Characteristics_item
												span.Characteristics_label Цена
												span.Characteristics_value #[span.Characteristics_number 3 244] руб.
									.ProductBlock_btnWrapper
										a(href="#", title="Добавить в корзину").ProductBlock_btn
					.Products_col
						.ProductBlock
							.ProductBlock_img
								img(src="img/product4.png", alt="Revitall Antigelm")
							.ProductBlock_body
								.ProductBlock_titles
									h4.ProductBlock_subtitle #00201
									h3.ProductBlock_title Revitall Antigelm
								.ProductBlock_characteristicsAndBtn
									.Characteristics.ProductBlock_characteristics
										ul.Characteristics_list
											li.Characteristics_item
												span.Characteristics_label Объем
												span.Characteristics_value #[span.Characteristics_number 42] ед.
											li.Characteristics_item
												span.Characteristics_label Цена
												span.Characteristics_value #[span.Characteristics_number 1 060] руб.
									.ProductBlock_btnWrapper
										a(href="#", title="Добавить в корзину").ProductBlock_btn
					.Products_col
						.ProductBlock
							.ProductBlock_img
								img(src="img/product1.png", alt="Revitall Antigelm")
							.ProductBlock_body
								.ProductBlock_titles
									h4.ProductBlock_subtitle #00201
									h3.ProductBlock_title Revitall Antigelm
								.ProductBlock_characteristicsAndBtn
									.Characteristics.ProductBlock_characteristics
										ul.Characteristics_list
											li.Characteristics_item
												span.Characteristics_label Цена
												span.Characteristics_value #[span.Characteristics_number 3 244] руб.
									.ProductBlock_btnWrapper
										a(href="#", title="Добавить в корзину").ProductBlock_btn
					.Products_col
						.ProductBlock
							.ProductBlock_img
								img(src="img/product2.png", alt="Ecopam time")
							.ProductBlock_body
								.ProductBlock_titles
									h4.ProductBlock_subtitle #00201
									h3.ProductBlock_title Ecopam time
								.ProductBlock_characteristicsAndBtn
									.Characteristics.ProductBlock_characteristics
										ul.Characteristics_list
											li.Characteristics_item
												span.Characteristics_label Объем
												span.Characteristics_value #[span.Characteristics_number 42] ед.
											li.Characteristics_item
												span.Characteristics_label Цена
												span.Characteristics_value #[span.Characteristics_number 1 060] руб.
									.ProductBlock_btnWrapper
										a(href="#", title="Добавить в корзину").ProductBlock_btn
					.Products_col
						.ProductBlock
							.ProductBlock_img
								img(src="img/product3.png", alt="Teavitall premier")
							.ProductBlock_body
								.ProductBlock_titles
									h4.ProductBlock_subtitle #00201
									h3.ProductBlock_title Teavitall premier
								.ProductBlock_characteristicsAndBtn
									.Characteristics.ProductBlock_characteristics
										ul.Characteristics_list
											li.Characteristics_item
												span.Characteristics_label Цена
												span.Characteristics_value #[span.Characteristics_number 3 244] руб.
									.ProductBlock_btnWrapper
										a(href="#", title="Добавить в корзину").ProductBlock_btn
					.Products_col
						.ProductBlock
							.ProductBlock_img
								img(src="img/product4.png", alt="Revitall Antigelm")
							.ProductBlock_body
								.ProductBlock_titles
									h4.ProductBlock_subtitle #00201
									h3.ProductBlock_title Revitall Antigelm
								.ProductBlock_characteristicsAndBtn
									.Characteristics.ProductBlock_characteristics
										ul.Characteristics_list
											li.Characteristics_item
												span.Characteristics_label Объем
												span.Characteristics_value #[span.Characteristics_number 42] ед.
											li.Characteristics_item
												span.Characteristics_label Цена
												span.Characteristics_value #[span.Characteristics_number 1 060] руб.
									.ProductBlock_btnWrapper
										a(href="#", title="Добавить в корзину").ProductBlock_btn