.hidden-xs
	@media $xs
		display none!important
.hidden-sm
	@media $sm
		display none!important
.hidden-smPlus
	@media $smPlus
		display none!important
.hidden-smMinus
	@media $smMinus
		display none!important
.hidden-md
	@media $md
		display none!important
.hidden-mdPlus
	@media $mdPlus
		display none!important
		
.hidden
	display none!important

.transition
	-webkit-transition all .3s ease-in-out
	-moz-transition all .3s ease-in-out
	-ms-transition all .3s ease-in-out
	-o-transition all .3s ease-in-out
	transition all .3s ease-in-out

.Semibold
	font-weight 600

.Bold
	font-weight 700

.Italic
	font-style italic

.Required
	color #eb5012