// START: layout vars
$xxs = '(max-width: 575px)'
$xs = '(max-width: 767px)'
$smMinus = '(max-width: 1023px)'
$sm = '(min-width: 768px) and (max-width: 1023px)'
$smPlus = '(min-width: 768px)'
$mdMinus = '(max-width: 1279px)'
$md = '(min-width: 1024px) and (max-width: 1279px)'
$mdPlus = '(min-width: 1024px)'
$lgPlus = '(min-width: 1280px)'

$smBoxWidth = 1044px
$mdBoxWidth = 1236px

$xsHeaderHeight = 48px
$smHeaderHeight = 98px
$mdHeaderHeight = 98px

$xsFooterHeight = 70px
$smFooterHeight = 66px
$mdFooterHeight = 100px
// END: layout vars

// START: color vars
$white = #fff
$black = #252628
$black2 = #303133
$green = #abd021
$green2 = #acd004
$blue = #18394a
$grey = #f4f4f4
$grey2 = #f1eff0
// END: color vars

// START: font vars
$fontFamily = 'Montserrat', sans-serif
// END: font vars