.Basket
	display flex
	-webkit-align-items center
	align-items center

	@media $xs
		flex-basis 210px
	
	&_icon
		margin-right 20px

		@media $xs
			margin-right 14px
	
	&_content
		padding-top 4px
		font-size 14px
		line-height 1.71
	
	&_title
		font-weight 600
		color $green
	
	&_orderPrice
		color $black2 