.BtnMore
	display inline-block
	padding 0.87em 4.87em 1.067em 2.2em
	-webkit-border-radius 28px
	border-radius 28px
	font-weight 600
	font-size 15px
	line-height normal
	background url('../img/icon_reload.png') calc(100% - 1.73em) center / 1.34em auto no-repeat, -webkit-linear-gradient(90deg, #95d600, #c6d721)
	background url('../img/icon_reload.png') calc(100% - 1.73em) center / 1.34em auto no-repeat, -o-linear-gradient(90deg, #95d600, #c6d721)
	background url('../img/icon_reload.png') calc(100% - 1.73em) center / 1.34em auto no-repeat, linear-gradient(90deg, #95d600, #c6d721)
	color $white

	@media $smMinus
		font-size 14px

	@media $xxs
		font-size 13px
	
	&:hover
		background url('../img/icon_reload.png') calc(100% - 1.73em) center / 1.34em auto no-repeat, -webkit-linear-gradient(90deg, #95d600, #95d600)
		background url('../img/icon_reload.png') calc(100% - 1.73em) center / 1.34em auto no-repeat, -o-linear-gradient(90deg, #95d600, #95d600)
		background url('../img/icon_reload.png') calc(100% - 1.73em) center / 1.34em auto no-repeat, linear-gradient(90deg, #95d600, #95d600)