.Categories
	&_title
		margin-bottom 40px
		
	&_row
		display flex
		-webkit-flex-wrap wrap
		-ms-flex-wrap wrap
		flex-wrap wrap
		margin-right -10px
		margin-bottom 28px
		margin-left -10px

		@media $xs
			margin-bottom 15px
	
	&_col
		display flex
		justify-content center
		flex 1 0 0
		width 33.33%
		margin-bottom 15px
		padding 0 10px