.Characteristics
	&_item
		display flex
		-webkit-justify-content space-between
		justify-content space-between
		-webkit-align-items center
		align-items center
		margin-bottom 13px
		
		&:last-child
			margin-bottom 0
	
	&_label
		font-size 13px
		color #80858F
	
	&_number
		font-weight 600