.CircleIcon
	display inline-flex
	-webkit-justify-content center
	justify-content center
	-webkit-align-items center
	align-items center
	width 42px
	height 42px
	-webkit-border-radius 50%
	border-radius 50%
	border 1px solid #e5e9eb
	
	&-large
		@media $smPlus
			width 55px
			height 55px
	
	&-dark
		border-color: #5c5c5c