.Frontpage
	&_slider
		margin-bottom 73px

		@media $mdMinus
			margin-bottom 60px
		
		@media $smMinus
			margin-bottom 50px
		
		@media $xs
			margin-bottom 40px
		
		@media $xxs
			margin-bottom 30px
	
	&_products
		margin-bottom 71px

		@media $smMinus
			margin-bottom 55px

		@media $xs
			margin-bottom 40px
	
	// &_reviews
	// 	margin-bottom 60px