.Link
	font-weight 600
	font-size 15px
	line-height normal
	text-transform uppercase
	letter-spacing 0.025em
	color $green2
	text-decoration underline

	@media $mdMinus
		font-size 14px

	@media $smMinus
		font-size 13px
	
	@media $xs
		font-size 12px
	
	&:hover
		text-decoration none