.Top
	background $green
	
	&_container
		display flex
		-webkit-justify-content space-between
		justify-content space-between
		padding-top 7px
		padding-right 0
		padding-bottom 7px
	
	&_left
		padding-left 2px