footer.Footer
	.Footer_top
		.Container.Footer_topContainer
			.Footer_topLeft
				a(href="/", title="Greenway").Footer_logo
					img(src="img/footer_logo.png", alt="Logo")
				.SecondaryLinks.Footer_menu
					ul.SecondaryLinks_list
						li.SecondaryLinks_item
							a(href="#").SecondaryLinks_link О компании
						li.SecondaryLinks_item
							a(href="#").SecondaryLinks_link FAQ
						li.SecondaryLinks_item
							a(href="#").SecondaryLinks_link Отзывы
						li.SecondaryLinks_item
							a(href="#").SecondaryLinks_link Начать свой бизнес
						li.SecondaryLinks_item
							a(href="#").SecondaryLinks_link Мой офис
						li.SecondaryLinks_item
							a(href="#").SecondaryLinks_link Магазин онлайн
			.Footer_topRight
				a(href="tel:+88000000000", title="Позвонить").Caption.Caption-white.Footer_phone
					.CircleIcon.CircleIcon-dark.Caption_icon
						img(src="img/icon_phone.png", alt="Phone")
					.Caption_text 8 800 000 00 00
				.Brands.Footer_brands
					h3.Brands_title Экобренды &nbsp;Greenway
					.Brands_description Одиннадцать линеек продукции для тех, кто выбрал осознанный экологический подход к своей жизни:
					ul.Brands_list
						li.Brands_item
							a(href="#").Brands_link Avitall
						li.Brands_item
							a(href="#").Brands_link Baofiber
						li.Brands_item
							a(href="#").Brands_link Aquamagic
						li.Brands_item
							a(href="#").Brands_link Aquamagic plush
						li.Brands_item
							a(href="#").Brands_link Aquamatic
						li.Brands_item
							a(href="#").Brands_link Teavitall
						li.Brands_item
							a(href="#").Brands_link Sharme
						li.Brands_item
							a(href="#").Brands_link Sharme essential
						li.Brands_item
							a(href="#").Brands_link Ecopam
						li.Brands_item
							a(href="#").Brands_link Revitall
						li.Brands_item
							a(href="#").Brands_link Healthberry
						li.Brands_item
							a(href="#").Brands_link Biotrim
						li.Brands_item
							a(href="#").Brands_link Gen
				.SecondaryLinks.SecondaryLinks-inline
					ul.SecondaryLinks_list
						li.SecondaryLinks_item
							a(href="http://vk.com", target="_blank").SecondaryLinks_link Vkontakte
						li.SecondaryLinks_item
							a(href="http://instagram.com", target="_blank").SecondaryLinks_link Instagram
						li.SecondaryLinks_item
							a(href="http://youtube.com", target="_blank").SecondaryLinks_link YouTube
	.Footer_bottom
		.Container.Footer_bottomContainer
			.Footer_copyright 2019 © &nbsp;#[span.Semibold Greenway] &nbsp;&nbsp;#[a(href="#") Политика обработки персональных данных]
			.Footer_development Разработка сайта &mdash;&nbsp; #[span.Semibold #[a(href="https://oxbox.ru/", target="_blank") OXBOX]]
				a(href="https://oxbox.ru/", target="_blank", title="Перейти на сайт").Footer_developmentLogo
					img(src="img/oxbox_logo.png", alt="Oxbox")